body{
    background-color: pink;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
}

/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* footer */
footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.f-info {
    margin-bottom: 20px;
}

.f-info-social {
    margin-bottom: 10px;
}

.f-info-social i {
    margin: 0 10px;
    font-size: 20px;
    color: #333;
}

.f-info-links a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
}

.f-info-links a:hover {
    text-decoration: underline;
}

/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 1rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* Show page */
show-img{
    height: 30vh;
}
